
.countdown-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 30px;
  position:relative;
  z-index:2;
}

.time-box {
  width: 90px;
  height: 90px;
  
  background: linear-gradient(to bottom, #A83A00, #421700);

  border: 1.5px solid #F5B800; 
  border-radius: 8px; 
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0; 
}

.time-value {
  font-family: 'Pirata One', cursive;
  font-size: 40px; 
  color: #FED000;
  font-weight: 400;
  line-height: 1; 
}

.time-label {
  font-family: 'Pirata One', cursive;
  font-weight: 400;
  font-size: 20px;
  color: #FFDF49;
  letter-spacing: 4%;
  text-transform: capitalize;
  line-height: 1; 
  margin-top: 5px; 
}