src/App.css


/* ... */
/* * {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  
  background-color: #5a0a0a; 

  background-image: url('./assets/hero-bg.jpg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}

.App {
  width: 100%;
  text-align: center;
  
  background-blend-mode: multiply;
}

.perspective-1000 {
  perspective: 1000px;
} */


* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #08061E 0%, #301258 50%, #5C2A9A 100%);
  min-height: 100vh;
}

.App {
  width: 100%;
  text-align: center;
}

.perspective-1000 {
  perspective: 1000px;
}