/* src/App.css */


/* ... */
body {
  margin: 0;
  
  background-color: #5a0a0a; 

  background-image: url('./assets/hero-bg.jpg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}

.App {
  width: 100%;
  text-align: center;
  
  background-blend-mode: multiply;
}